{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
<div class="content-section">
  <div class="media d-flex align-items-center">
    <img class="img-thumbnail img-fluid shadow rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>

  {% if request.user == user %}
  <!-- Form section for updating profile -->
  <div id="overlay" class="overlay">
    <div class="profile-update-form fade-out">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ u_form|crispy }}
          {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>

  <button class="btn btn-primary edit-profile-btn">Edit</button>


  {% else %}
  <!-- Button section for non-owners -->
  <div class="button-section">
    <form action="{% url 'direct-message-create' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="is_direct_message" value="True">
      <input type="hidden" name="receiver_id" value="{{ user.pk }}">
      <button type="submit" class="btn btn-primary send-message">Send Message</button>
    </form>
    {% if user.profile in request.user.profile.following.all %}
    <a href="{% url 'manage_friend' username=user.username %}" class="btn btn-secondary following">Following</a>
    {% else %}
    <a href="{% url 'manage_friend' username=user.username %}" class="btn btn-primary follow">Follow</a>
    {% endif %}
  </div>
  {% endif %}
  <hr>

  <div class="user-posts">
    <div class="posts-container">
      {% for post in user.post_set.all %}
      <article class="user-post mx-1 my-1" data-url="{% url 'post-detail' post.pk %}">
        {% if post.file %}
        {% if post.extension == '.jpg' or post.extension == '.jpeg' or post.extension == '.png' or post.extension == '.gif' or post.extension == '.webp' %}
        <img src="{{ post.file.url }}" alt="" class="image-post" title="Click to downlaod">
        {% elif post.extension == '.mp4' or post.extension == '.mov' or post.extension == '.avi' or post.extension == '.wmv' or post.extension == '.webm' %}
        <video src="{{ post.file.url }}" class="video-post" preload="metadata" muted controls></video>
        {% else %}
        <div class="other-post link-primary">
          <h3>{{ post.file|cut:"Files/" }}</h3>
        </div>
        {% endif %}
        {% else %}
        <div class="text-post">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
        </div>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </div>
</div>
<script src="{% static 'profile.js' %}"></script>
{% endblock content %}