{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'chat_rooms.css' %}">
<link rel="stylesheet" href="{% static 'chat_room_detail.css' %}">
<div class="chat-room-detail">
    <div class="left-column">
        <div class="chat-rooms">
            <ul class="chat-room-list">
                {% for chat_room in chat_rooms %}
                <li class="chat-room-item">
                    <a href="{% url 'chat-room-detail' pk=chat_room.pk %}" class="chat-room-title">
                        {% for member in chat_room.members.all %}
                        {% if member != request.user %}
                        <img src="{{ member.profile.image.url }}">
                        {{ member }}
                        {% endif %}
                        {% endfor %}
                    </a>
                    <form action="{% url 'chat-room-delete' pk=chat_room.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </li>
                {% empty %}
                <li>No chat rooms available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="right-column">
        <div class="top-right">
            <h2 class="chat-room-name" data-pk="{{ chat_room.pk }}">{{ receiver.user.username}}</h2>
            <hr>
            <ul class="message-list">
                {% for message in chat_room.messages.all %}
                {% if message.sender == request.user %}
                <div class="sender-container">
                    <a href="{% url 'profile' message.sender.username  %} ">
                        <img class="sender-img article-img img-thumbnail img-fluid shadow"
                            src="{{ message.sender.profile.image.url }}">
                    </a>
                    <li class="message-item sender-message">{{ message.message }}</li>
                </div>
                {% else %}
                <div class="receiver-container">
                    <a href="{% url 'profile' message.sender.username  %} ">
                        <img class="receiver-img article-img img-thumbnail img-fluid shadow"
                            src="{{ message.sender.profile.image.url }}">
                    </a>
                    <li class="message-item receiver-message">{{ message.message }}</li>
                </div>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="bottom-right">
            <div class="input-container">
                <input type="text" class="message-send-input" placeholder="Type your message..." />
                <button type="submit" class="message-send-button" data-sender-pk="{{ sender.user.pk }}"
                    data-sender-username="{{ sender.user.username }}" data-sender-img="{{ sender.image.url }}"
                    data-receiver-pk="{{ receiver.user.pk }}" data-receiver-username="{{ receiver.user.username }}"
                    data-receiver-img="{{ receiver.image.url }}">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'chat.js' %}"></script>
{% endblock %}