{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'chat_rooms.css' %}">
<div class="chat-rooms">
    <div class="left-column">
        <ul class="chat-room-list">
            {% for chat_room in chat_rooms %}
            <li class="chat-room-item">
                <a href="{% url 'chat-room-detail' pk=chat_room.pk %}" class="chat-room-title"
                    data-url="{% url 'chat-room-detail' pk=chat_room.pk %}">
                    {% for member in chat_room.members.all %}
                    {% if member != request.user %}
                    <img src="{{ member.profile.image.url }}" class="member-img">
                    {{ member }}
                    {% endif %}
                    {% endfor %}
                </a>
                <!-- <form action="{% url 'chat-room-delete' pk=chat_room.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form> -->
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="right-column">
        <i class="fa-sharp fa-solid fa-paper-plane fa-bounce"></i>
        <h1>Your Messages</h1>
        <h3>Share your posts in the community</h3>
        <button class="btn btn-secondary">Create Group Chat</button>
        <button class="btn">Send to All</button>
    </div>

</div>
{% endblock %}