body {
  background: #fafafa;
  color: #333333;
  margin-top: 0;
  background-image: url('background.jpg');
  background-size: contain;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.background-container {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  padding-bottom: 40px;
}

h1 {
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  margin-bottom: 20px;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.page-nav {
  margin-top: 20px;
}

.article-title {
  color: #444444;
}

.article-title:hover {
  color: #428bca;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #000000;
}

.article-metadata a:hover {
  color: #333;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Add a box shadow to the navbar */
.navbar {
  padding: 5px 20px;
  background-color: transparent !important;
  transition: background-color ease 0.5s;
}

.navbar:hover {
  background-color: #212529 !important;
}

.navbar-brand {
  font-size: 2rem;
  font-family: Helvetica;
  transition: font-size ease 0.4s;
}

.navbar-brand:hover {
  font-size: 2.3rem;
}

/* Style the search input field */
#searchform input[type="text"] {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

#searchform input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 1);
}

/* Style the search button */
#searchform button {
  background-color: #17a2b8;
  border-color: #17a2b8;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #ffffff;
  transition: background-color 0.3s;
}

#searchform button:hover {
  background-color: #138496;
  border-color: #138496;
}

/* Add a hover effect to buttons */
.home,
.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
  transform: translateY(-2px);
}

.download-button,
.update-button,
.delete-button {
  margin-right: 10px;
}

.home:hover {
  transform: translateY(-2px);
}

.page-nav {
  margin-top: 20px;
  text-align: center;
}

.page-item {
  display: inline;
  margin: 0 5px;
}

img,
video {
  max-width: 80%;
  max-height: 80%;
}

/* Comment and reply */
.comments {
  background-color: #ffffff;
  padding: 20px 20px;
}

.comments-replies {
  margin: 0 20px;
}

.comment-header {
  padding: 0 10px;
  margin-top: -10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comment-header:hover {
  background-color: #acacac;
  transform: translateY(-2px);
}

.comment-content {
  margin-bottom: 0px;
}

.profile-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.update-form,
.reply-form {
  display: none;
}

.post-comment,
.post-reply,
.post-update {
  margin-top: 10px;
}

/* base.css */

/* Add the CSS class for the fade-in and scale effect */
.fade-in-scale {
  opacity: 0;
  transform: scale(0.8);
  /* Initial scale value, change as per your preference */
  animation: fadeInScaleAnimation 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

/* Define the keyframes for the fade-in and scale animation */
@keyframes fadeInScaleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}