body {
  background: #fafafa;
  color: #333333;
  margin-top: 0;
  background-image: url('/media/background.jpg');
  background-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.background-container {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  padding-bottom: 40px;
}

h1 {
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
  transform: translateY(-2px);
}

img,
video {
  max-width: 80%;
  max-height: 80%;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.container {
  opacity: 0.95;
  transform: scale(0.85);
  transition: all 0.3s ease;
}

.content-section {
  min-width: 650px;
  margin-bottom: 20px;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Add a box shadow to the navbar */
.navbar {
  display: flex;
  padding: 5px 10px;
  background-color: transparent !important;
  transition: all ease 0.5s;
}

.navbar:hover {
  background-color: #212529 !important;
}

.navbar-brand {
  font-size: 2rem;
  font-family: Helvetica;
  transition: all ease 0.4s;
}

.navbar-brand:hover {
  font-size: 2.3rem;
}

/* Style the search input field */
#searchform input {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

#searchform input:focus {
  background-color: rgba(255, 255, 255, 1);
}

/* Style the search button */
#searchform button {
  background-color: #17a2b8;
  border-color: #17a2b8;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #ffffff;
  transition: all 0.3s ease;
}

#searchform button:hover {
  background-color: #138496;
  border-color: #138496;
}

/* Add the CSS class for the fade-in and scale effect */
.fade-in-scale {
  opacity: 0;
  transform: scale(0.8);
  /* Initial scale value, change as per your preference */
  animation: fadeInScaleAnimation 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

/* Define the keyframes for the fade-in and scale animation */
@keyframes fadeInScaleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Add the CSS class for the slide-in effect */
.slide-in {
  opacity: 0;
  transform: translateY(-100%);
  /* Initial translation value, change as per your preference */
  animation: slideInAnimation 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

/* Define the keyframes for the slide-in animation */
@keyframes slideInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}