.chat-rooms {
    min-width: 650px;
    min-height: 600px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.left-column,
.middle-column {
    width: 200px;
    border-radius: 5px 0 0 5px;
    background-color: #f7f7f7;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-column {
    opacity: 0;
    transition: all 0.3s ease;
}

.left-column h5,
.middle-column h5 {
    margin-top: 10px;
    text-align: center;
}

.friend-list,
.chat-room-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.friend-item,
.chat-room-item {
    display: flex;
    padding: 10px 25px;
    align-items: center;
    justify-content: flex-start;
}

.friend-item input {
    transform: scale(1.2);
    margin-right: 10px;
}

.friend-item:hover,
.chat-room-item:hover {
    cursor: pointer;
    background-color: #dbdbdb;
}

.friend-img,
.chatroom-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.friend-title,
.chat-room-title {
    font-size: 18px;
}

/* Right Column */
.right-column {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-paper-plane {
    font-size: 96px;
}

.right-column h1,
.right-column h3 {
    color: #222;
}

.right-column h3 {
    opacity: 0.6;
}

.create {
    opacity: 0;
    visibility: hidden;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.left-column.fade-in {
    animation: fadeInLeft 0.3s ease forwards;
}

.left-column.fade-out {
    width: 0;
    animation: fadeOutLeft 0.3s ease forwards;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.zoom-in {
    animation: zoomIn 0.3s forwards;
}

.zoom-out {
    animation: zoomOut 0.3s forwards;
}