/* Chat Room Detail Container */
.chat-room-detail {
    min-width: 650px;
    min-height: 600px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Left Column */
.left-column,
.middle-column {
    width: 250px;
    border-radius: 5px 0 0 5px;
    background-color: #f7f7f7;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-column {
    opacity: 0;
    transition: all 0.3s ease;
}

.middle-column {
    width: 270px;
}

.left-column h5,
.middle-column h5 {
    margin-top: 10px;
    text-align: center;
}

.friend-list,
.chat-room-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.friend-item,
.chat-room-item {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: flex-start;
}

.friend-item label:hover {
    cursor: pointer;
}

.friend-item input {
    transform: scale(1.2);
    margin-right: 10px;
}

.friend-item:hover,
.chat-room-item:hover {
    cursor: pointer;
    background-color: #dbdbdb;
}

.friend-img,
.chatroom-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.friend-title,
.chat-room-title {
    font-size: 18px;
}

.chat-room-title {
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

/* Right Column */
.right-column {
    width: 100%;
    display: flex;
    margin: 20px 0 20px 0;
    flex-direction: column;
}

.friends-link {
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
    margin-right: 20px;
}

/* Message */
.top-right {
    flex-grow: 1;
}

.chat-room-name {
    font-weight: bold;
    margin-left: 15px;
}

.message-list {
    list-style: none;
    overflow-y: auto;
    max-height: 500px;
    padding: 0;
}

.message-item {
    width: fit-content;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.receiver-container {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    /* Align receiver on the right */
}

.sender-container {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
    /* Align sender on the left */
}

.sender-message {
    color: #ffffff;
    margin-right: 10px;
    background-color: #3797f0;
}

.receiver-message {
    margin-left: 10px;
}

.sender-img,
.receiver-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

/* Input */
.input-container {
    width: 95%;
    display: flex;
    outline: none;
    margin: 20px 0 0 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.message-send-input {
    width: 85%;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
    flex: auto;
}

.message-send-button {
    background-color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease-in-out;
}

.message-send-input:focus,
.message-send-input:focus+.message-send-button {
    transform: scaleY(1.1);
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.left-column.fade-in {
    animation: fadeInLeft 0.3s ease forwards;
}

.left-column.fade-out {
    width: 0;
    animation: fadeOutLeft 0.3s ease forwards;
}