/* profile.css */
.content-section {
    margin-top: -20px;
}

/* Media section styles */
.account-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    transition: all 0.3s ease;
}

/* Form section styles */
.button-section {
    margin-top: 10px;
    display: flex;
}

.send-message,
.following,
.follow {
    margin-right: 20px;
}

.user-posts {
    max-height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.user-post {
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    grid-row: span 1;
    word-wrap: break-word;
    background: linear-gradient(to bottom, #F8F8F8, #B2DFDB, #B2CCFF);
    cursor: pointer;
}


.text-post,
.image-post,
.video-post,
.other-post {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
}

.text-post,
.other-post {
    height: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.text-post h3,
.other-post h3,
.text-post p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-post p {
    -webkit-line-clamp: 6;
}

.other-post h3 {
    margin-top: 30%;
}

/* Responsive styles */
@media (max-width: 576px) {
    .account-img {
        width: 100px;
        height: 100px;
    }
}