/* profile.css */
.content-section {
    margin-top: -15px;
}

/* Media section styles */
.media {
    display: flex;
    align-items: center;
}

.account-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    transition: all 0.3s ease;
}

/* Form section styles */
.border-bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.btn-outline-info {
    color: #17a2b8;
    border-color: #17a2b8;
    transition: color 0.3s, background-color 0.3s;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.button-section {
    margin-top: 10px;
    display: flex;
}

.send-message,
.following,
.follow {
    margin-right: 20px;
}

.user-posts {
    max-height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.user-post {
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    grid-row: span 1;
    word-wrap: break-word;
    background: linear-gradient(to bottom, #F8F8F8, #B2DFDB, #B2CCFF);
    cursor: pointer;
}

.image-post,
.video-post {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
}

.text-post {
    text-align: center;
}

/* Responsive styles */
@media (max-width: 576px) {
    .account-img {
        width: 100px;
        height: 100px;
    }
}